<!-- <app-user-list></app-user-list> -->

<router-outlet></router-outlet>


<!-- <input type="text" [disabled]="disabledFlag">

<br><br>

<input type="text" disabled="{{disabledFlag}}">

<br><br>

<h1 [class.txtColor]="txtColorFlag" > Vaibhav Saware </h1>

<br><br>

<h1 [class]="txtColor" > Vaibhav Saware </h1>

<br><br>

<h1 [ngClass]="txtColorObj" > Vaibhav Saware </h1>

<br><br> -->



<!-- <h1 [style.color]="'orange'"> Vaibhav Saware</h1>

<br>

<h1 [style.color]=" hasColor ? 'orange' : 'red' "> Vaibhav Saware</h1>

<br>

<h1 [style.color]="applyColor"> Vaibhav Saware</h1>

<br>

<h1 [ngStyle]="applyColorObj"> Vaibhav Saware</h1> -->

<!-- <input type="text" [(ngModel)]="username" >
<button (click)="getName(username.value)"> Get Name </button>
{{username}} -->